{% if index %}
  <div class="white-card recent-post clearfix">
    {% unless page.no_header %}
      <h5 class="recent-post-header">
        <a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a>
      </h5>
      <div class="post-info clearfix">
        <div class="pull-left">
          <span class="post-date">{% include post/date.html %}{{ date_formatted }}</span>
          {% if site.disqus_short_name and page.comments != false and post.comments != false and site.disqus_show_comment_count == true %}
          <a href="{{ root_url }}{{ post.url }}#disqus_thread" class="post-comments">0 Comments</a>
          {% endif %}
        </div>
        <div class="pull-right">
          <a href="#" class="post-like"><i class="icon-heart"></i>
            0
          </a>
        </div>
      </div>
    {% endunless %}
    {% if post.index_image %}
      <img class="post-image" src="{{ root_url }}{{ post.square_image }}" />
    {% endif %}
    <p class="post-content{% if post.index_image %} separated{% endif %}">{{ content | excerpt }}{% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}</p>
    {% if excerpted == 'true' %}
      <a href="{{ root_url }}{{ post.url }}" class="btn btn-primary btn-extra pull-right">{{ site.excerpt_link }}</a>
    {% endif %}
  </div>
{% else %}
  <div class="single-post-w">
    {% unless page.no_header %}
      <h1 class="post-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
      {% unless page.meta == false %}
        <p class="post-info">
          {% unless page.tags.length == 0 %}
            <span class="info-item">
              Tags: {{ page.tags | tag_links }}
            </span>
          {% endunless %}
          {% if site.disqus_short_name and page.comments != false and post.comments != false and site.disqus_show_comment_count == true %}
            <span class="info-item">
              <a href="{{ root_url }}{{ post.url }}#disqus_thread" class="post-comments">0 Comments</a>
            </span>
          {% endif %}
          <span class="info-item last">{% include post/date.html %}{{ date_formatted }}</span>
        </p>
        {% endunless %}
    {% endunless %}
    {% if post.decor_image %}
      <div class="single-post-image bottom decor-image">
        <img src="{{ root_url }}{{ post.decor_image }}" />
      </div>
    {% endif %}
    <div class="post-content">{{ content }}</div>
  </div>
  {% include post/author.html %}
{% endif %}
