<footer>
  <div class='pre-footer'>
    <div class='container'>
      <div class='row'>
        <div class='span4'>
          <div class='footer-logo'>
            <a><strong>Xorcode</strong>, LLC</a>
          </div>
          <ul class='footer-address'>
            <li>
              <strong>Address:</strong>
              4214 Cantey Pl<br/>
              Charlotte, NC 28211, USA
            </li>
            <li>
              <strong>Phone:</strong>
              (980) 355-9056
            </li>
          </ul>
        </div>
        <div class='span4'>
          <h5 class='footer-header'>Recent Posts</h5>
          <ul class='footer-list'>
            <li>
              <a>Vestibulum auctor dapibus</a>
            </li>
            <li>
              <a>Aliquam tincidunt mauris</a>
            </li>
            <li>
              <a>Lorem ipsum dolor sit</a>
            </li>
            <li>
              <a>Consectetur adipisicing elit</a>
            </li>
          </ul>
        </div>
        <div class='span4'>
          <h5 class='footer-header'>Photostream</h5>
          <ul class='footer-img-list thumbnails'>
            <li class='span1'>
              <a class='thumbnail'>
                <img alt="8b9890" src="{{ root_url }}/img/test-square.png" />
              </a>
            </li>
            <li class='span1'>
              <a class='thumbnail'>
                <img alt="8b9890" src="{{ root_url }}/img/test-square.png" />
              </a>
            </li>
            <li class='span1'>
              <a class='thumbnail'>
                <img alt="8b9890" src="{{ root_url }}/img/test-square.png" />
              </a>
            </li>
            <li class='span1'>
              <a class='thumbnail'>
                <img alt="8b9890" src="{{ root_url }}/img/test-square.png" />
              </a>
            </li>
            <li class='span1'>
              <a class='thumbnail'>
                <img alt="8b9890" src="{{ root_url }}/img/test-square.png" />
              </a>
            </li>
            <li class='span1'>
              <a class='thumbnail'>
                <img alt="8b9890" src="{{ root_url }}/img/test-square.png" />
              </a>
            </li>
            <li class='span1'>
              <a class='thumbnail'>
                <img alt="8b9890" src="{{ root_url }}/img/test-square.png" />
              </a>
            </li>
            <li class='span1'>
              <a class='thumbnail'>
                <img alt="8b9890" src="{{ root_url }}/img/test-square.png" />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class='deep-footer'>
    <div class='container'>
      <div class='row'>
        <div class='span6'>
          <div class='copyright'>Copyright &copy; 2003-{{ site.time | date: "%Y" }} {{ site.author }}. All rights reserved.</div>
        </div>
        <div class='span6'>
          <ul class='footer-links'>
            <li>
              <a>Some</a>
            </li>
            <li>
              <a>Footer</a>
            </li>
            <li>
              <a>Policy</a>
            </li>
            <li>
              <a>Terms Of Use</a>
            </li>
            <li>
              <a>Links</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
