{% if post.author %}
  {% assign author = post.author %}
  {% assign author_bio = post.author_bio %}
  {% assign author_email = post.author_email %}
{% elsif page.author %}
  {% assign author = page.author %}
  {% assign author_bio = page.author_bio %}
  {% assign author_email = page.author_email %}
{% else %}
  {% assign author = site.author %}
  {% assign author_bio = site.author_bio %}
  {% assign author_email = site.author_email %}
{% endif %}
{% if author %}
<div class="post-author-w">
  <h3 class="section-header">About the Author</h3>
  <div class="row">
    {% if author_email %}
      <div class="span1">
        <div class="post-author-photo hidden-phone">
          <img src="{{ author_email | gravatar }}" />
        </div>
      </div>
      <div class="span7">
        <div class="post-author-bio-w">
          <div class="post-author-name">{{ author }}</div>
          {% if author_bio %}<div class="post-author-bio">{{ author_bio }}</div>{% endif %}
        </div>
      </div>
    {% else %}
      <div class="span8">
        <div class="post-author-bio-w">
          <div class="post-author-name">{{ author }}</div>
          {% if author_bio %}<div class="post-author-bio">{{ author_bio }}</div>{% endif %}
        </div>
      </div>
    {% endif %}
  </div>
</div>
{% endif %}
