<div class="blog-recent-tweets widget-tp">
  <h3>
    <i class="icon-bullhorn"></i>
    Partner Referrals
  </h3>
  <a target="_blank" rel="nofollow" href="http://affiliate.godaddy.com/redirect/89B6FD014875E5DEE1FB0C25D91B2690D215CA2F4C541884E0845728884F4B41787E44D9FA753B3C0BC92424233966EA63A6436465CF6DC64B0B8D52B79B5E5C"><img style="padding-bottom:2px;" src="http://affiliate.godaddy.com/ads/89B6FD014875E5DEE1FB0C25D91B2690D215CA2F4C541884E0845728884F4B41787E44D9FA753B3C0BC92424233966EA63A6436465CF6DC64B0B8D52B79B5E5C" border="0" width="120" height="240"></a>
  <a target="_blank" rel="nofollow" href="http://affiliate.godaddy.com/redirect/9860863BB85E40E84C70ABB912BD6346313D467371152B69513FAAEB0B9F9E2874EF43DAFA16CBD5BD18CC475702793F8F3D0A14B8BF1F9F1541ECFA6576B157"><img style="padding-bottom:2px;" src="http://affiliate.godaddy.com/ads/9860863BB85E40E84C70ABB912BD6346313D467371152B69513FAAEB0B9F9E2874EF43DAFA16CBD5BD18CC475702793F8F3D0A14B8BF1F9F1541ECFA6576B157" border="0" width="120"  height="240"></a>
  <a target="_blank" rel="nofollow" href="http://www.vectorstock.com/a/1658532" title="VectorStock, the worlds best only vector graphics collection"><img style="padding-bottom:2px;" src="http://www.vectorstock.com/img/banners/120x240_multi.gif" width="120" height="240"></a><br>
  <a href="https://xorcode.freshbooks.com/refer/www" style="background-color: transparent;"><img src="http://www.freshbooks.com/images/banners/freshbooks-300x250.png" width="300" height="250" border="0" alt="FreshBooks" class="img-responsive"></a>
</div>
