---
layout: default
---
{% capture spanwidth %}{% if page.spanwidth > 0 %}{{ page.spanwidth }}{% else %}12{% endif %}{% endcapture %}
<section class="section-wrapper{% if page.sectionclass %} {{ page.sectionclass }}{% endif %}">
  <div class="container">
    <div class="row">
      <div class="span{{ spanwidth }}">
        {% if page.title %}
        <div class="row">
          <div class="span{{ spanwidth }}">
            <h3 class="section-header">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h3>
          </div>
        </div>
        {% endif %}
        <div class="row">
          {{ content }}
        </div>
      </div>
      {% unless page.sidebar == false %}
        <div class="span4">
          <div class="blog-side-bar">
            {% if site.page_asides.size %}
              {% include_array page_asides %}
            {% else %}
              {% include_array default_asides %}
            {% endif %}
          </div>
        </div>
      {% endunless %}
    </div>
  </div>
</section>
