---
layout: default
---
<section class="white">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        {% if page.title %}
          <div class="row">
            <div class="span{{ spanwidth }}">
              <h3 class="section-header">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h3>
            </div>
          </div>
        {% endif %}
        {{ content }}
      </div>
    </div>
  </div>
</section>
