---
layout: default
title: Custom Node.js, PHP, and Android software development
description: Custom Node.js, Python, Ruby, PHP, Perl and Android development. Articles about programming and cloud platforms.
---

    <!-- +++++ Welcome Section +++++ -->
    <div id="welcomeSlider" class="wwi carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#welcomeSlider" data-slide-to="0" class="active"></li>
        <li data-target="#welcomeSlider" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="container">
            <div class="carousel-caption">
              <p><img src="{% asset_path foodles-logo.png %}" width="450"></p>
              <p class="lead">Foodl.es keeps all your favorite family recipes at your fingertips, no matter where your family meal traditions take you.</p>
              <a href="http://kck.st/1veSwLo" class="btn btn-danger btn-lg"><i class="fa fa-heart"></i> Support Foodles on Kickstarter</a>
            </div><!-- /carousel-caption -->
          </div><!-- /container -->
        </div><!-- /item.active -->
        <div class="item">
          <div class="container">
            <div class="carousel-caption">
              <h1>You started using tools 800,000 years ago</h1>
              <p class="lead">We write software that evolves your toolbox from tedious to awesome. We farm servers in the clouds and conjure confluent code from pixie dust and meteorite slag. If besought, we will help you find the castle with the princess.</p>
              <a href="{{ root_url }}/estimate.html" class="btn btn-danger btn-lg"><i class="fa fa-at"></i> Request an Estimate</a>
            </div><!-- /carousel-caption -->
          </div><!-- /container -->
        </div><!-- /item -->
      </div><!-- /carousel-inner -->
      <a class="left carousel-control" href="#welcomeSlider" role="button" data-slide="prev">
        <span class="fa fa-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#welcomeSlider" role="button" data-slide="next">
        <span class="fa fa-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /wwi -->

    <div class="ww">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 centered">
            <form class="form-inline" role="form" action="http://xorcode.us7.list-manage.com/subscribe/post?u=dc14842b34179e11056373cdb&id=c1a59855ef" method="post">
              <div class="form-group col-sm-8">
                <label class="sr-only" for="newsletter-email">Enter your email address</label>
                <input type="email" class="form-control input-lg" id="newsletter-email" placeholder="Enter your email address" name="EMAIL">
              </div>
              <button type="submit" class="btn btn-primary btn-lg newsletter-submit"><i class="fa fa-envelope"></i> Send Me Updates!</button>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    {% assign index = true %}
    <div class="container pt">
      {% for post in paginator.posts limit:9 %}
        {% cycle 'add rows': '<div class="row">', nil, nil %}
        <div class="col-md-4">
          {% assign content = post.content %}
          {% include article.html %}
        </div>
        {% cycle 'close rows': nil, nil, '</div>' %}
      {% endfor %}
      {% cycle 'close rows': nil, nil, '</div>' %}
    </div>
