---
layout: default
title: Custom Node.js, PHP, and Android software development
description: Custom Node.js, Python, Ruby, PHP, Perl and Android development. Articles about programming and cloud platforms.
---

    <!-- +++++ Welcome Section +++++ -->
    <div class="wwi">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 centered">
            <img src="{% asset_path origami-sheep.png %}" width="250">
            <h1>You started using tools 800,000 years ago</h1>
            <p>We write software that evolves your toolbox from tedious to awesome. We farm servers in the clouds and conjure confluent code from pixie dust and meteorite slag. If besought, we will help you find the castle with the princess.</p>
            <a href="{{ root_url }}/estimate.html" class="btn btn-danger btn-lg"><i class="fa fa-heart"></i> Request an Estimate</a>
          </div><!-- /col-lg-8 -->
        </div><!-- /row -->
        </div> <!-- /container -->
    </div><!-- /wwi -->

    <div class="ww">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 centered">
            <form class="form-inline" role="form" action="http://xorcode.us7.list-manage.com/subscribe/post?u=dc14842b34179e11056373cdb&id=c1a59855ef" method="post">
              <div class="form-group col-sm-8">
                <label class="sr-only" for="newsletter-email">Enter your email address</label>
                <input type="email" class="form-control input-lg" id="newsletter-email" placeholder="Enter your email address" name="EMAIL">
              </div>
              <button type="submit" class="btn btn-primary btn-lg newsletter-submit"><i class="fa fa-envelope"></i> Send Me Updates!</button>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>  

    {% assign index = true %}
    <div class="container pt">
      {% for post in paginator.posts limit:9 %}
        {% cycle 'add rows': '<div class="row">', nil, nil %}
        <div class="col-md-4">
          {% assign content = post.content %}
          {% include article.html %}
        </div>
        {% cycle 'close rows': nil, nil, '</div>' %}
      {% endfor %}
      {% cycle 'close rows': nil, nil, '</div>' %}
    </div>
