{% if post.author %}
  {% assign author = post.author %}
  {% assign author_bio = post.author_bio %}
  {% assign author_email = post.author_email %}
  {% assign author_twitter = post.author_twitter %}
  {% assign author_github = post.author_github %}
  {% assign author_bitbucket = post.author_bitbucket %}
{% elsif page.author %}
  {% assign author = page.author %}
  {% assign author_bio = page.author_bio %}
  {% assign author_email = page.author_email %}
  {% assign author_twitter = page.author_twitter %}
  {% assign author_github = page.author_github %}
  {% assign author_bitbucket = page.author_bitbucket %}
{% else %}
  {% assign author = site.author %}
  {% assign author_bio = site.author_bio %}
  {% assign author_email = site.author_email %}
  {% assign author_twitter = site.author_twitter %}
  {% assign author_github = site.author_github %}
  {% assign author_bitbucket = site.author_bitbucket %}
{% endif %}
{% if author %}
  {% capture meta %}
    {% if author_twitter %}
      <a href="https://twitter.com/{{ author_twitter }}" class="btn btn-default btn-xs"><i class="fa fa-twitter"></i> twitter</a>
    {% endif %}
    {% if author_github %}
      <a href="https://github.com/{{ author_github }}" class="btn btn-default btn-xs"><i class="fa fa-github"></i> github</a>
    {% endif %}
    {% if author_bitbucket %}
      <a href="https://bitbucket.com/{{ author_bitbucket }}" class="btn btn-default btn-xs"><i class="fa fa-bitbucket"></i> bitbucket</a>
    {% endif %}
  {% endcapture %}
  <p>
    {% if author_email %}<img src="{{ author_email | gravatar }}" class="img-circle" style="width:50px;" /> {% endif %}<span class="ba">{{ author }}</span>
  </p>
  {% if author_bio %}<p class="post-author-bio">{{ author_bio }}</p>{% endif %}
  {% if meta %}<p class="post-author-meta">{{ meta }}</p>{% endif %}
{% endif %}
