@import "font-awesome/variables";

.icon-server:before { content: $cogs; }
.icon-tidbits:before { content: $file-text-alt; }

body {
  background-repeat: no-repeat;
  background-image: -ms-radial-gradient(center top, ellipse farthest-side, #000000 0%, #ffffff 100%);
  background-image: -moz-radial-gradient(center top, ellipse farthest-side, #000000 0%, #ffffff 100%);
  background-image: -o-radial-gradient(center top, ellipse farthest-side, #000000 0%, #ffffff 100%);
  background-image: -webkit-gradient(radial, center top, 0, center top, 485, color-stop(0, #000000), color-stop(1, #ffffff));
  background-image: -webkit-radial-gradient(center top, ellipse farthest-side, #000000 0%, #ffffff 100%);
  background-image: radial-gradient(ellipse farthest-side at center top, #000000 0%, #ffffff 100%);
}
article {
   background-color: #fff;
   padding: 10px 30px;
}
.navbar {
  margin: 0;
}
.navbar-inner,
.navbar-static-top .navbar-inner,
.navbar-fixed-top .navbar-inner,
.navbar-fixed-bottom .navbar-inner {
  background: #fff;
  border: none;
  margin: 0;
  padding-right: 0;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
.navbar .brand {
  background-image: url(../img/brand.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 50%;
  height: 25px;
  width: 132px;
  padding: 25px 20px 20px;
  margin: 0 10px;
}
.navbar .nav {
  padding: 0 0 0 30px;
}
.navbar .nav > li > a {
  color: #000;
  text-shadow: none;
}
.nav li {
  line-height: 52px;
  font-size: 16px;
}
.navbar .nav.pull-right {
  background-color: #000;
  background-image: url(../img/dashed-black.png);
  padding: 0 20px 0 0;
}
.navbar .nav.pull-right > li.header {
  padding: 0 14px 0 0;
  line-height: 100%;
  color: #000;
}
.navbar .nav.pull-right > li.header > span {
  background-color: #fff;
  padding: 8px 12px 6px 0px;
  font-size: 14px;
  line-height: 28px;
  -webkit-border-bottom-right-radius: 6px;
     -moz-border-radius-bottomright: 6px;
          border-bottom-right-radius: 6px;
}
.navbar .nav.pull-right > li > a {
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
}
.navbar .nav.pull-right > li > a:hover {
  color: #ddd;
}
.navbar .nav.pull-right > li > a > i {
  font-size: 32px;
  display: block;
  clear: both;
  line-height: 32px;
}
.hero-unit {
  margin-bottom: 0;
  min-height: 200px;
  color: #fff;
  text-align: center;
  background-color: #d11f2e;
  background-image: url(../img/dashed-red.png);
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.hero-unit h1 {
  font-size: 44px;
}
.hero-unit h2 {
  font-size: 32px;
  font-weight: normal;
}
