{% if site.github_user %}
<div class='blog-recent-tweets widget-tp'>
  <h3>
    <i class='icon-github-sign'></i>
    Github Repos
  </h3>
  <ul id="gh_repos">
    <li class="loading">Status updating...</li>
  </ul>
  {% if site.github_show_profile_link %}
  <a href="https://github.com/{{site.github_user}}">@{{site.github_user}}</a> on GitHub
  {% endif %}
  <script type="text/javascript">
    window.onload = function (e) {
      if (!window.jXHR){
        var jxhr = "{% javascript_asset_tag github %}- /_assets/js/libs/jXHR.js{% endjavascript_asset_tag %}";
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(jxhr, s);
      }
      github.showRepos({
          user: '{{site.github_user}}'
        , count: {{site.github_repo_count}}
        , skip_forks: {{site.github_skip_forks}}
        , target: '#gh_repos'
      });
    };
  </script>
</div>
{% endif %}
