{% if site.subscribe_rss %}
  <div class="blog-side-search widget-tp">
    <h3>
      <i class="icon-envelope-alt"></i>
      Subscribe to our Newsletter
    </h3>
    <form action="http://xorcode.us7.list-manage.com/subscribe/post?u=dc14842b34179e11056373cdb&amp;id=c1a59855ef" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="novalidate" class="no-margin-bottom form-search">
      <fieldset role="subscribe">
        <div class="controls controls-row">
          <input class="search-input span4" type="text" name="EMAIL" placeholder="me@example.com">
        </div>
        <div>Powered by <a href="http://eepurl.com/DBn2L" title="MailChimp - email marketing made easy and fun">MailChimp</a></div>
      </fieldset>
    </form>
  </div>
{% endif %}
