{% if index %}
  {% unless page.no_header %}
    <h4 class="recent-post-header">
      <a href="{{ root_url }}{{ post.url }}/">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a>
    </h4>
    <div class="post-info clearfix">
      <div class="pull-left">
        <span class="post-date">{% include post/date.html %}{{ date_formatted }}</span>
        {% if site.disqus_short_name and page.comments != false and post.comments != false and site.disqus_show_comment_count == true %}
          <a href="{{ root_url }}{{ post.url }}/#disqus_thread" class="post-comments">0 Comments</a>
        {% endif %}
      </div>
    </div>
  {% endunless %}
  {% if post.index_image %}
    <img class="img-responsive" src="{{ root_url }}{{ post.square_image }}" />
  {% endif %}
  <div class="post-content{% if post.index_image %} separated{% endif %}">{{ content | excerpt }}{% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}</div>
{% else %}
  <div class="single-post-w">
    {% unless page.no_header %}
      {% unless page.meta == false %}
        <p class="post-info">
          <span class="post-date">{% include post/date.html %}{{ date_formatted }}</span>
          {% if site.disqus_short_name and page.comments != false and post.comments != false and site.disqus_show_comment_count == true %}
            <span class="info-item">
              <a href="{{ root_url }}{{ page.url }}/#disqus_thread" class="post-comments">0 Comments</a>
            </span>
          {% endif %}
        </p>
      {% endunless %}
      <h1 class="post-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
    {% endunless %}
    {% unless page.sharing == false %}
      {% include post/sharing.html %}
    {% endunless %}
    {% if page.decor_image %}
      <div class="single-post-image bottom decor-image">
        <img src="{{ root_url }}{{ page.decor_image }}" />
      </div>
    {% endif %}
    <div class="post-content">
      {{ content }}
    </div>
    {% unless page.no_header %}
      {% unless page.meta == false %}
        <p>
          {% unless page.tags.length == 0 %}
            {{ page.tags | tag_links }}
          {% endunless %}
        </p>
      {% endunless %}
    {% endunless %}
  </div>

  <ul class="pager clearfix" style="padding-bottom:20px;">
    {% if page.previous.url %}<li class="previous"><a href="{{page.previous.url}}/" title="Previous Post: {{page.previous.title}}"><i class="icon-arrow-left"></i> Previous</a></li>{% endif %}
    {% if page.next.url %}<li class="next"><a href="{{page.next.url}}/" title="Next Post: {{page.next.title}}">Next <i class="icon-arrow-right"></i></a></li>{% endif %}
  </ul>
{% endif %}
