---
layout: default
---

<div class="carousel slide over-something" id="homepage-carousel">
  <div class="carousel-inner slider-w">
    <div class="active item">
      <div class="container">
        <h1 class="slider-header">You started using tools <strong>800,000</strong> years ago</h1>
        <h2 class="slider-sub-header">We write software that evolves your toolbox from tedious to awesome.</h2>
        <div class="cta">
          <a href="{{ root_url }}/contact.html" class="btn btn-cta">Let us help You create!</a>
        </div>
        <div class="slider-browsers-w clearfix">
          <div class="slider-browser slider-browser-left hidden-phone" data-position-bottom="-8%">
            <img alt="Browser-window-1" src="{{ root_url }}/img/browser-ecommerce.png" />
          </div>
          <div class="slider-browser slider-browser-center" data-position-bottom="-9%">
            <img alt="Browser-window-2" src="{{ root_url }}/img/browser-mobile.png" />
          </div>
          <div class="slider-browser slider-browser-right hidden-phone" data-position-bottom="-8%">
            <img alt="Browser-window-3" src="{{ root_url }}/img/browser-security.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control left" data-slide="prev" href="#homepage-carousel">
    <i class="icon-chevron-left"></i>
  </a>
  <a class="carousel-control right" data-slide="next" href="#homepage-carousel">
    <i class="icon-chevron-right"></i>
  </a>
</div>
<div class="sub-slider-features">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="info-bullet">
          <i class="icon-beaker"></i>
          <h5>Custom Development</h5>
          <p>Xorcode delivers premium business tools designed to strengthen, simplify, and structure the business of our customers.</p>
        </div>
      </div>
      <div class="span4">
        <div class="info-bullet">
          <i class="icon-android"></i>
          <h5>Android Applications</h5>
          <p>Xorcode provides custom Android application development services aimed at delivering the best applications.</p>
        </div>
      </div>
      <div class="span4">
        <div class="info-bullet">
          <i class="icon-tasks"></i>
          <h5>Quality Assurance</h5>
          <p>Xorcode helps you ascertain that your application meets its set of requirements and specifications.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="section-wrapper stripped under-slider">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h3 class="section-header">From the Blog</h3>
      </div>
      {% assign index = true %}
      {% for post in paginator.posts limit:3 %}
        {% assign content = post.content %}
        <div class="span4">
          {% include article.html %}
        </div>
      {% endfor %}
    </div>
    <div class="row">
      {% for post in paginator.posts offset:3 limit:3 %}
        {% assign content = post.content %}
        <div class="span4">
          {% include article.html %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>
